@using System.Configuration
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="Themepixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Assets/assets/img/warehouse_1.png">

    <title>ZWMS</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../Assets/lib/remixicon/fonts/remixicon.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../Assets/assets/css/style.min.css">

    <!-- Toast CSS -->
    <link rel="stylesheet" href="https://unpkg.com/native-toast@2.0.0/dist/native-toast.css" />


    <style>
        .loader {
            border: 5px solid #f3f3f3; /* Light grey */
            border-top: 5px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px; /* Negative half of height */
            margin-left: -25px; /* Negative half of width */
        }

        .loaderforslabs {
            border: 5px solid #f3f3f3; /* Light grey */
            border-top: 5px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
            margin-top: -25px; /* Negative half of height */
            /*   margin-left: -25px;*/ /* Negative half of width */
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .bg {
            filter: blur(3px);
            cursor: default;
        }
    </style>
</head>
<body class="page-sign d-block py-0">
    @*<input type="hidden" id="url_local" value="@System.Configuration.ConfigurationManager.AppSettings["url_local"]" />*@
    @*<input type="hidden" id="url_local" value="@System.Configuration.ConfigurationManager.AppSettings["MySetting"]" />*@
    <input type="hidden" id="url_local" value="@System.Configuration.ConfigurationManager.AppSettings["url_local"]" />
    <div class="col-sm-3"><input type="hidden" id="front_URL" value="@System.Configuration.ConfigurationManager.AppSettings["url_local_front"]" /></div>

    <div class="loader" style="display: none;"></div>

    <div class="row g-0" id="mainDIV">
        <div class="col-md-7 col-lg-5 col-xl-4 col-wrapper">
            <div class="card card-sign">
                <div class="card-header">
                    <img src="~/Assets/assets/img/zwmsaljazeerah.jpeg" style="width:100% ; margin-top:-70px" />
                    <p style="text-align:center">Warehouse Management System</p>
                    <br />
                    <br />

                    @*<a href="../" style="color:darkorange" class="header-logo mb-5">ZWMS</a>*@
                    <h3 class="card-title">Sign In</h3>
                    <p class="card-text">Welcome back! Please signin to continue.</p>
                </div><!-- card-header -->
                <div class="card-body">
                    <div class="mb-4">
                        <label class="form-label">Email address</label>
                        <input id="loginName" type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <div class="mb-4">
                        <label class="form-label d-flex justify-content-between">Password <a href="">Forgot password?</a></label>
                        <input id="password" type="password" class="form-control" placeholder="Enter your password">
                    </div>
                    <button id="btnLogin" class="btn btn-primary btn-sign">Sign In</button>

                    @*<div class="divider"><span>or sign in with</span></div>*@

                    <!--<div class="row gx-2">
                        <div class="col"><button class="btn btn-facebook"><i class="ri-facebook-fill"></i> Facebook</button></div>
                        <div class="col"><button class="btn btn-google"><i class="ri-google-fill"></i> Google</button></div>
                    </div>-->
                    <!-- row -->
                </div><!-- card-body -->
                <!--<div class="card-footer">
                    Don't have an account? <a href="sign-up-2.html">Create an Account</a>
                </div>-->
                <!-- card-footer -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col d-none d-lg-block"><img src="../Assets/assets/img/bg1.jpg" class="auth-img" alt=""></div>
    </div><!-- row -->

    <script src="../Assets/lib/jquery/jquery.min.js"></script>
    <script src="../Assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Toast JS -->
    <script src="https://cdn.jsdelivr.net/npm/native-toast@2.0.0/dist/native-toast.min.js"></script>
    <script src="../Assets/assets/contents/js/Login.js"></script>
    <script src="../Assets/assets/contents/js/ToastHandler.js"></script>
    <script src="../Assets/assets/contents/js/GenericAjax.js"></script>
    <script src="../Assets/assets/contents/js/sweetalert.min.js"></script>
    <script>
      var urlLocalValue = "@System.Configuration.ConfigurationManager.AppSettings["url_local"]";
    </script>
    <script>

        'use script'

        var skinMode = localStorage.getItem('skin-mode');
        if (skinMode) {
            $('html').attr('data-skin', 'dark');
        }</script>
</body>
</html>
